<h2 mat-dialog-title>Add user</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Email" (input)="onEmailChange($event.target.value)">
    <mat-error *ngIf="!validEmail">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Username" [(ngModel)]="user.username">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Age" (input)="onAgeChange($event.target.value)">
    <mat-error *ngIf="!validAge">
      Invalid Age!
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password for user" type="password" [(ngModel)]="user.password">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()" [disabled]="!validEmail || !validAge">Save</button>
</mat-dialog-actions>
