$spacer-5: 0.3125rem; //5px
$spacer-8: 0.5rem; //8px
$spacer-10: 0.625rem; // 10px
$spacer-15: 0.9375rem; // 15px
$spacer-20: 1.25rem; // 20px


$white: #fff;
$black: #000;

$mat-primary-color: #A31D5F;
$mat-secondary-color: #BC1AF0;
$mat-tertiary-color: #7F57FF;
$mat-color-blue: #4371E8;
$mat-color-light-blue: #4AD8FF;

$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;

@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
$font-family: 'Karla', sans-serif;
